* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {

    background-color: #f4f4f9;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

  
  


/* .header {
background: linear-gradient(45deg, #ff7e5f,#f4f4f9);
color: white;
text-align: center;
padding: 100pxn 20px;
} */

.travelnav {
    color: #25A59E;

}
/* .header h1 {
    font-size: 4em;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(o,o,o,o.3) ;
} */
/* .header p {
    font-size: 1.5em;
    margin-top: 20px;
    font-style: italic;
} */

nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;    
}
.menu {
    width: 20px;
    height: 30px;
}
.world {
    margin-left: 40px;
}
.travelaround {
    font-size: 40px;
    margin-top: 90px;
    text-align: center;
    
}

.travel {
    color: #25A59E

}


.pic-travel {
    position: absolute;
    height: 184px;
    margin-top: -188px;
    margin-right: 17px; 

}
.pictwo {
    position: relative;
    margin: 35;
    margin-top: 75px;
    margin-right: 15px;
    

}

.blurry  {
    position: absolute;
    height: 20;
    width: 30;
    margin-top: -75px;


}

 .images{
   width: 100%;
   height:auto;
   margin: 0;
   background-position: center;
   transform: rotate(180deg);
 }
 .imagetwo{
   padding: 10px;
   background-color: white;
   margin:10px 0; 
 }  
.dest{
    text-align: center;
}
.destination-para{
    margin: 0 auto;
}
.cards{
    margin-left: 20px;
}
.indonesiaone{
    margin-top: -20px;
    margin-left: 25px;
    color: #25A59E;
}
.turkey{
    margin-top: -20px;
    margin-left: 25px;
    color: #25A59E;
}
.indonesia{
    margin-top: -20px;
    margin-left: 25px;
    color: #25A59E;
}
.tengah{
    margin-top: -20px;
    margin-left: 25px;
    color: #25A59E;
}
.jawa{
    margin-top: -20px;
    margin-left: 25px;
    color: #25A59E;
}
.jawatengah{
    margin-top: -20px;
    margin-left: 25px;
    color: #25A59E;
}
.why-chooseus-h{
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
}
#why-chooseus-para{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;

}

.bestguide {
    border: 5px solid white;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}

.more-details{
    margin-left: 180px;
    color: #25A59E;
    
}
.arrow {
    margin-bottom: -3px;
}

.cardT{
    margin-bottom: 8px;
}

.listtop{
    width: 300px;
    height: 4px;
    background-color: #25A59E;
}
.always{
    background-color: #25A59E;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}
.always-para{
    margin-left: 10px;
    background-color: #25A59E;
}
.always-htwo {
    margin-left: 15px;
}
.more-detailsone{
    font-size: 15px;
    margin-left: 160px;
    color: white;
}

.alwaysready {
    border-right: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid #25A59E;
    border-bottom: 3px solid white;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}
.more-detailstwo {
    margin-left: 170px;
    color: #25A59E;
    
}
.trip{
    font-size: 35px;
}
.travel-trip{
    color: #25A59E;
}
.Travel-agent{
    color: #25A59E;   
}
.travel-para{
    font-size: 20px;
    margin-bottom: 20px;
}
.shape {
    margin-top: 100px;
    margin-left: 20px;
}
.picten {
    margin-top: -250px;
    margin-bottom: 90px;
    margin-left: -10px;
}
.vedio{
    font-size: 15px;
}
.Watch{
    font-size: 35px;
}
.get{
    font-size: 35px;
}
.button{
    background-color: #25A59E;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}
.travelzero{
    font-size: 17px;
    color: #25A59E;
}
.traveltext-para{
    font-size: 17px;
}
.sociallink{
    display: flex;
    justify-content: center;
}
.twitter {
    margin-left: -100px;
}
.youtube {
    margin-left: -40px;
}
.info{
 display: flex;
 flex-direction: row;
 gap: 10px;
 list-style: none;
    
}
.info a {
    list-style: none;
    text-decoration: none;
color: black;
}
.gilda-display-regular {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }




